<div class="intro" id="intro" data-scroll-index="0">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-6 col-md-6">
                <div class="intro-content pb-5">
                    <h1>Open Digital Trading ToolKit</h1>
                            <p>Make money anywhere by subscribing Users, friends and family to available services at a great % commission only on MTN Nigeria. </p>
                    <div class="intro-btn">
                        <a href="/sign-up" class="btn btn-primary">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-md-6 py-md-5">
                <div class="intro-demo_img">
                    <img src="/dtt/images/demo/trading.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>