<div class="sidebar">
    <div class="brand-logo">
        <!--<a href="index.html"><img src="images/logo.png" alt="">-->
        </a>
    </div>
    <div class="menu">
        <ul>
            <li>
                <a href="/agent/home" data-toggle="tooltip" data-placement="right" title="Home">
                    <span><i class="icofont-ui-home"></i></span>
                </a>
            </li>
            <li><a href="/agent/report/1" data-toggle="tooltip" data-placement="right" title="Reports">
                    <span><i class="icofont-bars"></i></span>
                </a>
            </li>
            <li class="logout"><a href="/dtt-logout" data-toggle="tooltip" data-placement="right"
                    title="Signout">
                    <span><i class="icofont-power"></i></span>
                </a>
            </li>
        </ul>

        <p class="copyright">
            &#169; <a href="#">DTT</a>
        </p>
    </div>
</div>