<div class="card-body">
    <div class="row">
        <div class="col-xxl-12">
            <div class="card">
                <div class="card-header px-0">
                    <h4 class="card-title">Commission </h4>
                </div>
                <!--<div class="card-body px-0">
                    <div class="d-flex align-items-center">
                            <a class="btn btn-primary">Add</a>
                    </div>
                </div>-->
            </div>
        </div>

            <div class="card">
                <div class="card-body px-0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Service Name</th>
                                    <th>Subscription Type</th>
                                    <th>Commission(NGN)</th>
                                    <!--<th>Actions</th>-->
                                </tr>
                            </thead>
                            <% if (commission.length) {%>
                                <tbody>
                                    <% for(let r of commission)  {%>
                                <tr>
                                    <td><%- (r.name != null ) ? r.name : '' %></td>
                                    <td><%- (r.type != null ) ? r.type : '' %></td>
                                    <td><%- (r.amount != null ) ? r.amount : '' %></td>
                                    <!--<td>
                                        <a href="#"><span class="btn btn-primary"><i class="icofont-edit"></i></span></a>
                                        <a href="#"><span class="btn btn-danger"><i class="icofont-close-line"></i></span></a>
                                    </td>-->
                                </tr>
                                <%}%>
                            </tbody>
                            <%}%>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</div>
</div>

</div>
</div>
</div>