<div class="sidebar">
    <div class="brand-logo">
        <!--<a href="index.html"><img src="images/logo.png" alt="">-->
        </a>
    </div>
    <div class="menu">
        <ul>
            <li>
                <a href="/admin/home" data-toggle="tooltip" data-placement="right" title="Home">
                    <span><i class="icofont-ui-home"></i></span>
                </a>
            </li>
            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Reports">
                    <span><i class="icofont-bars"></i></span>
                </a>
            </li>
            <li><a href="/admin/settings-region" data-toggle="tooltip" data-placement="right" title="Settings">
                <span><i class="icofont-ui-settings"></i></span>
            </a>
            </li>
            <li><a href="/admin/faq" data-toggle="tooltip" data-placement="right" title="FAQ">
                <span><i class="icofont-question-square"></i></span>
            </a>
            </li>
            <li><a href="/admin/support" data-toggle="tooltip" data-placement="right" title="Support">
                    <span><i class="icofont-support-faq"></i></span>
                </a>
            </li>
            <li class="logout"><a href="/dtt-logout" data-toggle="tooltip" data-placement="right"
                    title="Signout">
                    <span><i class="icofont-power"></i></span>
                </a>
            </li>
        </ul>

        <p class="copyright">
            &#169; <a href="#">DTT</a>
        </p>
    </div>
</div>