<div class="card-body">
    <div class="row">
        <div class="col-xxl-12">
            <div class="card">
                <div class="card-header px-0">
                    <h4 class="card-title">Regions </h4>
                </div>
                <div class="card-body px-0">
                    <div class="d-flex align-items-center">
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#addRegion">Add</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body px-0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <% if (regions.length) {%>
                                <tbody>
                                    <% for(let r of regions)  {%>
                                <tr>
                                    <td><%- (r.name != null ) ? r.name : '' %></td>
                                    <td>
                                        <button class="btn btn-primary" value="<%- (r.id != null ) ? r.id : '' %>" id="editRegion"><i class="icofont-edit"></i></button>
                                        <button class="btn btn-danger" value="<%- (r.id != null ) ? r.id : '' %>" id="deleteRegion"><i class="icofont-close-line"></i></button>
                                    </td>
                                </tr>
                                <%}%>
                            </tbody>
                            <%}%>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</div>
</div>

</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="addRegion" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCardLabel">Add Region</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" class="identity-upload" action="#" id="add-region">
                    <div class="response"></div>
                    <div class="row g-3">
                        <div class="col-xl-12">
                            <label class="form-label">Name of region </label>
                            <input type="text" name="region" class="form-control region" placeholder="e.g. South East">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submit">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="successRegionCard" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="auth-form">
                    <div class="card-body">
                        <div class="identity-content">
                            <span class="icon"><i class="icofont-check"></i></span>
                            <p class="text-dark">Success</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!---confirm delete-->
<!-- Modal -->
<div class="modal fade" id="delRegion" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="submitDelete">yes</button>
            </div>
        </div>
    </div>
</div>

<!--EDIT region form-->
<div class="modal fade" id="editregion" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCardLabel">Edit Region</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" class="identity-upload" action="#" id="edit-region">
                    <div class="response"></div>
                    <div class="row g-3">
                    
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="submitRegion">Submit</button>
            </div>
        </div>
    </div>
</div>