<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Open Digital Trading Toolkit - Agent</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Digital Trading Toolkit" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" type="text/css" href="/dtt/vendor/slick/slick.css" />
	<link rel="stylesheet" href="/dtt/css/style.css">
</head>


<body>

	<div id="preloader"><i>.</i><i>.</i><i>.</i></div>

    <div id="main-wrapper">
    <%- body %>
    <%- include ../partials/dtt/agent/_navbar.html %>
    <%- include ../partials/dtt/agent/_sidebar.html %>

	</div>
	<script src="/dtt/vendor/jquery/jquery.min.js"></script>
    <script src="/dtt/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/dtt/vendor/basic-table/jquery.basictable.min.js"></script>
    <script src="/dtt/js/plugins/basic-table-init.js"></script>


    <!--<script src="/dtt/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/dtt/js/plugins/perfect-scrollbar-init.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <!--<script type="text/javascript" src="https://www.jsdelivr.com/package/npm/chart.js"></script>-->
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js" integrity="sha512-5vwN8yor2fFT9pgPS9p9R7AszYaNn0LkQElTXIsZFCL7ucT8zDCAqlQXDdaqgA1mZP47hdvztBMsIoFxq/FyyQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/dtt/js/agent-dashboard.js"></script>

    <script src="/dtt/vendor/slick/slick.min.js"></script>
    <script src="/dtt/js/plugins/slick-init.js"></script>
    <script src="/dtt/js/scripts.js"></script>

</body>

</html>